USE [master]
GO
/****** Object:  Database [SaveData]    Script Date: 25.04.2026 2:30:21 ******/
CREATE DATABASE [SaveData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaveData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SaveData.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SaveData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SaveData_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaveData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaveData]
GO
/****** Object:  Table [dbo].[Act]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Act](
	[ActID] [int] IDENTITY(1,1) NOT NULL,
	[ActNumber] [nvarchar](6) NOT NULL,
	[IsReady] [bit] NOT NULL,
 CONSTRAINT [PK_Act_1] PRIMARY KEY CLUSTERED 
(
	[ActID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssemblyFaultDescription]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssemblyFaultDescription](
	[TMAID] [int] NOT NULL,
	[DescriptionID] [int] NOT NULL,
 CONSTRAINT [PK_AssemblyFaultDescription] PRIMARY KEY CLUSTERED 
(
	[TMAID] ASC,
	[DescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BridgeLogSave]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BridgeLogSave](
	[BridgeLogSaveID] [int] IDENTITY(1,1) NOT NULL,
	[ActID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[SerialNumber] [nvarchar](120) NOT NULL,
	[SavedUtc] [datetime2](7) NOT NULL,
	[UnifiedLogText] [nvarchar](max) NULL,
	[StatusJson] [nvarchar](max) NULL,
	[MavlinkJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_BridgeLogSave] PRIMARY KEY CLUSTERED 
(
	[BridgeLogSaveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Description]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Description](
	[DescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[DescriptionText] [nvarchar](max) NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[DescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[TMID] [int] NULL,
	[PlaceID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[ProductID] [int] NULL,
	[inProgress] [bit] NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorDescription]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorDescription](
	[ErrorID] [int] NOT NULL,
	[DescriptionID] [int] NOT NULL,
 CONSTRAINT [PK_ErrorDescription] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC,
	[DescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspection]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection](
	[InspectionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ErrorID] [int] NOT NULL,
	[DescriptionID] [int] NOT NULL,
	[ResultID] [int] NOT NULL,
 CONSTRAINT [PK_Inspection] PRIMARY KEY CLUSTERED 
(
	[InspectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionsID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionsName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[PlaceID] [int] IDENTITY(1,1) NOT NULL,
	[PlaceName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[PlaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductSerial] [nvarchar](50) NOT NULL,
	[ActID] [int] NULL,
	[TypeID] [int] NOT NULL,
	[QualityControlPassed] [bit] NOT NULL,
	[QualityControlPassedUtc] [datetime2](7) NULL,
	[QualityControlByUserID] [int] NULL,
	[PostTestingWarehouseAt] [datetime2](7) NULL,
	[PostTestingWarehouseByUserID] [int] NULL,
	[TestingManualUnlockByUserID] [int] NULL,
	[TestingManualUnlockUtc] [datetime2](7) NULL,
	[AssemblyManualUnlockByUserID] [int] NULL,
	[AssemblyManualUnlockUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductPhoto]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductPhoto](
	[ProductPhotoID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[SequenceNo] [int] NOT NULL,
	[Stage] [tinyint] NOT NULL,
	[TMAID] [int] NULL,
	[TMTID] [int] NULL,
	[FileName] [nvarchar](260) NOT NULL,
	[RelativePath] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[ByteLength] [int] NOT NULL,
	[PhotoBytes] [varbinary](max) NOT NULL,
	[SavedUtc] [datetime2](7) NOT NULL,
	[ByUserID] [int] NOT NULL,
 CONSTRAINT [PK_ProductPhoto] PRIMARY KEY CLUSTERED 
(
	[ProductPhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProducType]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProducType](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_ProducType] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultTable]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultTable](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[ResultText] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ResultTable] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavePath]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavePath](
	[SavePath] [nvarchar](max) NOT NULL,
	[PathID] [int] IDENTITY(1,1) NOT NULL,
	[ActNumber] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_SavePath] PRIMARY KEY CLUSTERED 
(
	[PathID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShipmentWithoutTesting]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShipmentWithoutTesting](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[ActID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Reason] [nvarchar](1000) NOT NULL,
	[ShipmentUtc] [datetime2](0) NOT NULL,
	[ProductCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalMapAssembly]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalMapAssembly](
	[TMAID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[TimeStart] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
	[InProgress] [bit] NOT NULL,
	[IsReady] [bit] NOT NULL,
	[Fault] [bit] NOT NULL,
	[DescriptionID] [int] NULL,
	[TMID] [int] NOT NULL,
 CONSTRAINT [PK_TechnicalMap] PRIMARY KEY CLUSTERED 
(
	[TMAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalMapFull]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalMapFull](
	[TMID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Inspection] [bit] NOT NULL,
 CONSTRAINT [PK_TechnicalMapFull] PRIMARY KEY CLUSTERED 
(
	[TMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalMapTesting]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalMapTesting](
	[TMTID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[TimeStart] [time](7) NOT NULL,
	[TimeEnd] [time](7) NOT NULL,
	[InProgress] [bit] NOT NULL,
	[IsReadt] [bit] NOT NULL,
	[Fault] [bit] NOT NULL,
	[DescriptionID] [int] NULL,
	[TMID] [int] NOT NULL,
 CONSTRAINT [PK_TechnicalMapTesting] PRIMARY KEY CLUSTERED 
(
	[TMTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechnicalMatFlight]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechnicalMatFlight](
	[TFlightID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Test_Pass] [bit] NOT NULL,
 CONSTRAINT [PK_TechnicalMatFlight] PRIMARY KEY CLUSTERED 
(
	[TFlightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestFlight]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestFlight](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[Visual] [bit] NOT NULL,
	[Damage] [bit] NOT NULL,
	[FC1] [bit] NOT NULL,
	[FC2] [bit] NOT NULL,
	[+5V_FC1] [bit] NOT NULL,
	[+5V_FC2] [bit] NOT NULL,
	[FC_Test_Pass] [bit] NOT NULL,
	[Externa_Test_Pass] [bit] NOT NULL,
	[Long_Test_Pass] [bit] NOT NULL,
	[Result] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[TFlightID] [int] NOT NULL,
	[Stand] [int] NOT NULL,
 CONSTRAINT [PK_TestFlight] PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestingFaultDescription]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestingFaultDescription](
	[TMTID] [int] NOT NULL,
	[DescriptionID] [int] NOT NULL,
 CONSTRAINT [PK_TestingFaultDescription] PRIMARY KEY CLUSTERED 
(
	[TMTID] ASC,
	[DescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersProfile]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersProfile](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserLogin] [nvarchar](50) NOT NULL,
	[UserPassword] [nvarchar](256) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_UsersProfile] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWithPermissions]    Script Date: 25.04.2026 2:30:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWithPermissions](
	[PermAddID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PermissionsID] [int] NOT NULL,
 CONSTRAINT [PK_UserWithPermissions] PRIMARY KEY CLUSTERED 
(
	[PermAddID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (2, N'Китай')
INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (1, N'Россия')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Description] ON 

INSERT [dbo].[Description] ([DescriptionID], [DescriptionText], [TypeID]) VALUES (1, N'Тихий звук зуммера', 1)
INSERT [dbo].[Description] ([DescriptionID], [DescriptionText], [TypeID]) VALUES (2, N'Конденсатор не набирает 25V', 1)
INSERT [dbo].[Description] ([DescriptionID], [DescriptionText], [TypeID]) VALUES (3, N'Зуммер не работает', 1)
SET IDENTITY_INSERT [dbo].[Description] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionsID], [PermissionsName]) VALUES (1, N'Администратор')
INSERT [dbo].[Permissions] ([PermissionsID], [PermissionsName]) VALUES (4, N'Инспектор')
INSERT [dbo].[Permissions] ([PermissionsID], [PermissionsName]) VALUES (6, N'Контроль')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Place] ON 

INSERT [dbo].[Place] ([PlaceID], [PlaceName]) VALUES (1, N'Приемка')
INSERT [dbo].[Place] ([PlaceID], [PlaceName]) VALUES (2, N'Сборка')
INSERT [dbo].[Place] ([PlaceID], [PlaceName]) VALUES (3, N'Тестирование')
SET IDENTITY_INSERT [dbo].[Place] OFF
GO
SET IDENTITY_INSERT [dbo].[ProducType] ON 

INSERT [dbo].[ProducType] ([TypeID], [TypeName], [CountryID]) VALUES (5, N'Bridge', 1)
INSERT [dbo].[ProducType] ([TypeID], [TypeName], [CountryID]) VALUES (4, N'Кросс-плата', 2)
INSERT [dbo].[ProducType] ([TypeID], [TypeName], [CountryID]) VALUES (1, N'МиМИ', 1)
SET IDENTITY_INSERT [dbo].[ProducType] OFF
GO
SET IDENTITY_INSERT [dbo].[ResultTable] ON 

INSERT [dbo].[ResultTable] ([ResultID], [ResultText]) VALUES (1, N'Изолировано (Не устранимо)')
INSERT [dbo].[ResultTable] ([ResultID], [ResultText]) VALUES (2, N'На доработку (Ремонт)')
INSERT [dbo].[ResultTable] ([ResultID], [ResultText]) VALUES (3, N'Отклонение разрешено')
SET IDENTITY_INSERT [dbo].[ResultTable] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Storage')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'YTK')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[UsersProfile] ON 

INSERT [dbo].[UsersProfile] ([UserID], [UserName], [UserLogin], [UserPassword], [RoleID]) VALUES (1, N'Админ', N'Админ', N'pbkdf2$v1$84Lj2cxDab5ARO+032lbuQ==$06UZkKYuaRoUWyimTHKD4sSd2LvZAMP2WEdq9u2Rb2Q=', 1)
INSERT [dbo].[UsersProfile] ([UserID], [UserName], [UserLogin], [UserPassword], [RoleID]) VALUES (2, N'Вася', N'Вася', N'pbkdf2$v1$drcvwsEuSw1MgyL5XSqW5g==$U/RchhqcP6w9GMJ929N8SLp8nuG0xVcexYLymolsTuM=', 2)
INSERT [dbo].[UsersProfile] ([UserID], [UserName], [UserLogin], [UserPassword], [RoleID]) VALUES (3, N'Коля', N'Коля', N'pbkdf2$v1$ueOeLsjnd8glBqlWpYBtLQ==$x/A9sNGIO3jA2/N0eqAmuKkW01f1H/4dsxzD/eL7L5M=', 3)
SET IDENTITY_INSERT [dbo].[UsersProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[UserWithPermissions] ON 

INSERT [dbo].[UserWithPermissions] ([PermAddID], [UserID], [PermissionsID]) VALUES (1024, 1, 1)
INSERT [dbo].[UserWithPermissions] ([PermAddID], [UserID], [PermissionsID]) VALUES (1025, 1, 2)
INSERT [dbo].[UserWithPermissions] ([PermAddID], [UserID], [PermissionsID]) VALUES (1026, 1, 3)
SET IDENTITY_INSERT [dbo].[UserWithPermissions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Act_ActNumber]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Act_ActNumber] ON [dbo].[Act]
(
	[ActNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BridgeLogSave_ActID_SavedUtc]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_BridgeLogSave_ActID_SavedUtc] ON [dbo].[BridgeLogSave]
(
	[ActID] ASC,
	[SavedUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Country_CountryName]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Country_CountryName] ON [dbo].[Country]
(
	[CountryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Permissions_PermissionsName]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Permissions_PermissionsName] ON [dbo].[Permissions]
(
	[PermissionsName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_ActID]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_Product_ActID] ON [dbo].[Product]
(
	[ActID] ASC
)
INCLUDE([ProductSerial],[TypeID],[PostTestingWarehouseAt],[QualityControlPassed]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_PostTestingWarehouseAt]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_Product_PostTestingWarehouseAt] ON [dbo].[Product]
(
	[PostTestingWarehouseAt] ASC
)
WHERE ([PostTestingWarehouseAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Product_ProductSerial]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Product_ProductSerial] ON [dbo].[Product]
(
	[ProductSerial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductPhoto_Product_Saved]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_ProductPhoto_Product_Saved] ON [dbo].[ProductPhoto]
(
	[ProductID] ASC,
	[SavedUtc] DESC
)
INCLUDE([FileName],[Stage],[ByUserID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_ProductPhoto_Product_Seq]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProductPhoto_Product_Seq] ON [dbo].[ProductPhoto]
(
	[ProductID] ASC,
	[SequenceNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_ProducType_TypeName_CountryID]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ProducType_TypeName_CountryID] ON [dbo].[ProducType]
(
	[TypeName] ASC,
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Role_RoleName]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Role_RoleName] ON [dbo].[Role]
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_SavePath_ActNumber]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SavePath_ActNumber] ON [dbo].[SavePath]
(
	[ActNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ShipmentWithoutTesting_Act]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_ShipmentWithoutTesting_Act] ON [dbo].[ShipmentWithoutTesting]
(
	[ActID] ASC,
	[ShipmentUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicalMapAssembly_TMID_Fault]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_TechnicalMapAssembly_TMID_Fault] ON [dbo].[TechnicalMapAssembly]
(
	[TMID] ASC,
	[Fault] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicalMapAssembly_TMID_InProgress]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_TechnicalMapAssembly_TMID_InProgress] ON [dbo].[TechnicalMapAssembly]
(
	[TMID] ASC,
	[InProgress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicalMapFull_ProductID]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_TechnicalMapFull_ProductID] ON [dbo].[TechnicalMapFull]
(
	[ProductID] ASC
)
INCLUDE([TMID],[Inspection]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicalMapTesting_TMID_Fault]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_TechnicalMapTesting_TMID_Fault] ON [dbo].[TechnicalMapTesting]
(
	[TMID] ASC,
	[Fault] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TechnicalMapTesting_TMID_InProgress]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_TechnicalMapTesting_TMID_InProgress] ON [dbo].[TechnicalMapTesting]
(
	[TMID] ASC,
	[InProgress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_UsersProfile_UserLogin]    Script Date: 25.04.2026 2:30:21 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UsersProfile_UserLogin] ON [dbo].[UsersProfile]
(
	[UserLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWithPermissions_UserID]    Script Date: 25.04.2026 2:30:21 ******/
CREATE NONCLUSTERED INDEX [IX_UserWithPermissions_UserID] ON [dbo].[UserWithPermissions]
(
	[UserID] ASC
)
INCLUDE([PermissionsID]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Act] ADD  CONSTRAINT [DF_Act_IsReady]  DEFAULT ((0)) FOR [IsReady]
GO
ALTER TABLE [dbo].[Description] ADD  CONSTRAINT [DF_Description_TypeID]  DEFAULT ((1)) FOR [TypeID]
GO
ALTER TABLE [dbo].[Error] ADD  CONSTRAINT [DF_Error_inProgress]  DEFAULT ((0)) FOR [inProgress]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_QualityControlPassed]  DEFAULT ((0)) FOR [QualityControlPassed]
GO
ALTER TABLE [dbo].[ProductPhoto] ADD  CONSTRAINT [DF_ProductPhoto_SavedUtc]  DEFAULT (sysutcdatetime()) FOR [SavedUtc]
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting] ADD  CONSTRAINT [DF_ShipmentWithoutTesting_Utc]  DEFAULT (sysutcdatetime()) FOR [ShipmentUtc]
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting] ADD  CONSTRAINT [DF_ShipmentWithoutTesting_PC]  DEFAULT ((0)) FOR [ProductCount]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] ADD  CONSTRAINT [DF_TechnicalMap_InProgress]  DEFAULT ((0)) FOR [InProgress]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] ADD  CONSTRAINT [DF_TechnicalMap_isReady]  DEFAULT ((0)) FOR [IsReady]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] ADD  CONSTRAINT [DF_TechnicalMapAssembly_Fault]  DEFAULT ((0)) FOR [Fault]
GO
ALTER TABLE [dbo].[TechnicalMapFull] ADD  CONSTRAINT [DF_TechnicalMapFull_Inspection]  DEFAULT ((0)) FOR [Inspection]
GO
ALTER TABLE [dbo].[TechnicalMapTesting] ADD  CONSTRAINT [DF_TechnicalMapTesting_InProgress]  DEFAULT ((0)) FOR [InProgress]
GO
ALTER TABLE [dbo].[TechnicalMapTesting] ADD  CONSTRAINT [DF_TechnicalMapTesting_IsReadt]  DEFAULT ((0)) FOR [IsReadt]
GO
ALTER TABLE [dbo].[TechnicalMapTesting] ADD  CONSTRAINT [DF_TechnicalMapTesting_Fault]  DEFAULT ((0)) FOR [Fault]
GO
ALTER TABLE [dbo].[TechnicalMatFlight] ADD  CONSTRAINT [DF_TechnicalMatFlight_Test_Pass]  DEFAULT ((1)) FOR [Test_Pass]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_Visual]  DEFAULT ((1)) FOR [Visual]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_Damage]  DEFAULT ((1)) FOR [Damage]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_FC1]  DEFAULT ((1)) FOR [FC1]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_+5V_FC1]  DEFAULT ((1)) FOR [+5V_FC1]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_+5V_FC2]  DEFAULT ((1)) FOR [+5V_FC2]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_FC_Test_Pass]  DEFAULT ((1)) FOR [FC_Test_Pass]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_Externa_Test_Pass]  DEFAULT ((0)) FOR [Externa_Test_Pass]
GO
ALTER TABLE [dbo].[TestFlight] ADD  CONSTRAINT [DF_TestFlight_Long_Test_Pass]  DEFAULT ((1)) FOR [Long_Test_Pass]
GO
ALTER TABLE [dbo].[AssemblyFaultDescription]  WITH CHECK ADD  CONSTRAINT [FK_AssemblyFaultDescription_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[AssemblyFaultDescription] CHECK CONSTRAINT [FK_AssemblyFaultDescription_Description]
GO
ALTER TABLE [dbo].[AssemblyFaultDescription]  WITH CHECK ADD  CONSTRAINT [FK_AssemblyFaultDescription_TMA] FOREIGN KEY([TMAID])
REFERENCES [dbo].[TechnicalMapAssembly] ([TMAID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssemblyFaultDescription] CHECK CONSTRAINT [FK_AssemblyFaultDescription_TMA]
GO
ALTER TABLE [dbo].[BridgeLogSave]  WITH CHECK ADD  CONSTRAINT [FK_BridgeLogSave_Act] FOREIGN KEY([ActID])
REFERENCES [dbo].[Act] ([ActID])
GO
ALTER TABLE [dbo].[BridgeLogSave] CHECK CONSTRAINT [FK_BridgeLogSave_Act]
GO
ALTER TABLE [dbo].[BridgeLogSave]  WITH CHECK ADD  CONSTRAINT [FK_BridgeLogSave_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[BridgeLogSave] CHECK CONSTRAINT [FK_BridgeLogSave_UsersProfile]
GO
ALTER TABLE [dbo].[Description]  WITH CHECK ADD  CONSTRAINT [FK_Description_ProducType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProducType] ([TypeID])
GO
ALTER TABLE [dbo].[Description] CHECK CONSTRAINT [FK_Description_ProducType]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Place] FOREIGN KEY([PlaceID])
REFERENCES [dbo].[Place] ([PlaceID])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Place]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_Product]
GO
ALTER TABLE [dbo].[Error]  WITH CHECK ADD  CONSTRAINT [FK_Error_TechnicalMapFull] FOREIGN KEY([TMID])
REFERENCES [dbo].[TechnicalMapFull] ([TMID])
GO
ALTER TABLE [dbo].[Error] CHECK CONSTRAINT [FK_Error_TechnicalMapFull]
GO
ALTER TABLE [dbo].[ErrorDescription]  WITH CHECK ADD  CONSTRAINT [FK_ErrorDescription_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[ErrorDescription] CHECK CONSTRAINT [FK_ErrorDescription_Description]
GO
ALTER TABLE [dbo].[ErrorDescription]  WITH CHECK ADD  CONSTRAINT [FK_ErrorDescription_Error] FOREIGN KEY([ErrorID])
REFERENCES [dbo].[Error] ([ErrorID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ErrorDescription] CHECK CONSTRAINT [FK_ErrorDescription_Error]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Description]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_Error] FOREIGN KEY([ErrorID])
REFERENCES [dbo].[Error] ([ErrorID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_Error]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_ResultTable] FOREIGN KEY([ResultID])
REFERENCES [dbo].[ResultTable] ([ResultID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_ResultTable]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [FK_Inspection_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [FK_Inspection_UsersProfile]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Act] FOREIGN KEY([ActID])
REFERENCES [dbo].[Act] ([ActID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Act]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_AssemblyManualUnlockByUser_UsersProfile] FOREIGN KEY([AssemblyManualUnlockByUserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_AssemblyManualUnlockByUser_UsersProfile]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_PostTestingWarehouseByUser_UsersProfile] FOREIGN KEY([PostTestingWarehouseByUserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_PostTestingWarehouseByUser_UsersProfile]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProducType] FOREIGN KEY([TypeID])
REFERENCES [dbo].[ProducType] ([TypeID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProducType]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_QualityControlByUser_UsersProfile] FOREIGN KEY([QualityControlByUserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_QualityControlByUser_UsersProfile]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_TestingManualUnlockByUser_UsersProfile] FOREIGN KEY([TestingManualUnlockByUserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_TestingManualUnlockByUser_UsersProfile]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [FK_ProductPhoto_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [FK_ProductPhoto_Product]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [FK_ProductPhoto_TMA] FOREIGN KEY([TMAID])
REFERENCES [dbo].[TechnicalMapAssembly] ([TMAID])
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [FK_ProductPhoto_TMA]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [FK_ProductPhoto_TMT] FOREIGN KEY([TMTID])
REFERENCES [dbo].[TechnicalMapTesting] ([TMTID])
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [FK_ProductPhoto_TMT]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [FK_ProductPhoto_User] FOREIGN KEY([ByUserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [FK_ProductPhoto_User]
GO
ALTER TABLE [dbo].[ProducType]  WITH CHECK ADD  CONSTRAINT [FK_ProducType_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[ProducType] CHECK CONSTRAINT [FK_ProducType_Country]
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentWithoutTesting_Act] FOREIGN KEY([ActID])
REFERENCES [dbo].[Act] ([ActID])
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting] CHECK CONSTRAINT [FK_ShipmentWithoutTesting_Act]
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting]  WITH CHECK ADD  CONSTRAINT [FK_ShipmentWithoutTesting_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting] CHECK CONSTRAINT [FK_ShipmentWithoutTesting_User]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapAssembly_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] CHECK CONSTRAINT [FK_TechnicalMapAssembly_Description]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapAssembly_TechnicalMapFull] FOREIGN KEY([TMID])
REFERENCES [dbo].[TechnicalMapFull] ([TMID])
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] CHECK CONSTRAINT [FK_TechnicalMapAssembly_TechnicalMapFull]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapAssembly_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] CHECK CONSTRAINT [FK_TechnicalMapAssembly_UsersProfile]
GO
ALTER TABLE [dbo].[TechnicalMapFull]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapFull_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[TechnicalMapFull] CHECK CONSTRAINT [FK_TechnicalMapFull_Product]
GO
ALTER TABLE [dbo].[TechnicalMapTesting]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapTesting_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[TechnicalMapTesting] CHECK CONSTRAINT [FK_TechnicalMapTesting_Description]
GO
ALTER TABLE [dbo].[TechnicalMapTesting]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapTesting_TechnicalMapFull] FOREIGN KEY([TMID])
REFERENCES [dbo].[TechnicalMapFull] ([TMID])
GO
ALTER TABLE [dbo].[TechnicalMapTesting] CHECK CONSTRAINT [FK_TechnicalMapTesting_TechnicalMapFull]
GO
ALTER TABLE [dbo].[TechnicalMapTesting]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMapTesting_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[TechnicalMapTesting] CHECK CONSTRAINT [FK_TechnicalMapTesting_UsersProfile]
GO
ALTER TABLE [dbo].[TechnicalMatFlight]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMatFlight_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[TechnicalMatFlight] CHECK CONSTRAINT [FK_TechnicalMatFlight_Product]
GO
ALTER TABLE [dbo].[TechnicalMatFlight]  WITH CHECK ADD  CONSTRAINT [FK_TechnicalMatFlight_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[TechnicalMatFlight] CHECK CONSTRAINT [FK_TechnicalMatFlight_UsersProfile]
GO
ALTER TABLE [dbo].[TestFlight]  WITH CHECK ADD  CONSTRAINT [FK_TestFlight_TechnicalMatFlight] FOREIGN KEY([TFlightID])
REFERENCES [dbo].[TechnicalMatFlight] ([TFlightID])
GO
ALTER TABLE [dbo].[TestFlight] CHECK CONSTRAINT [FK_TestFlight_TechnicalMatFlight]
GO
ALTER TABLE [dbo].[TestingFaultDescription]  WITH CHECK ADD  CONSTRAINT [FK_TestingFaultDescription_Description] FOREIGN KEY([DescriptionID])
REFERENCES [dbo].[Description] ([DescriptionID])
GO
ALTER TABLE [dbo].[TestingFaultDescription] CHECK CONSTRAINT [FK_TestingFaultDescription_Description]
GO
ALTER TABLE [dbo].[TestingFaultDescription]  WITH CHECK ADD  CONSTRAINT [FK_TestingFaultDescription_TMT] FOREIGN KEY([TMTID])
REFERENCES [dbo].[TechnicalMapTesting] ([TMTID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestingFaultDescription] CHECK CONSTRAINT [FK_TestingFaultDescription_TMT]
GO
ALTER TABLE [dbo].[UsersProfile]  WITH CHECK ADD  CONSTRAINT [FK_UsersProfile_Role1] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[UsersProfile] CHECK CONSTRAINT [FK_UsersProfile_Role1]
GO
ALTER TABLE [dbo].[UserWithPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserWithPermissions_Permissions] FOREIGN KEY([PermissionsID])
REFERENCES [dbo].[Permissions] ([PermissionsID])
GO
ALTER TABLE [dbo].[UserWithPermissions] CHECK CONSTRAINT [FK_UserWithPermissions_Permissions]
GO
ALTER TABLE [dbo].[UserWithPermissions]  WITH CHECK ADD  CONSTRAINT [FK_UserWithPermissions_UsersProfile] FOREIGN KEY([UserID])
REFERENCES [dbo].[UsersProfile] ([UserID])
GO
ALTER TABLE [dbo].[UserWithPermissions] CHECK CONSTRAINT [FK_UserWithPermissions_UsersProfile]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_AssemblyUnlock_Pair] CHECK  (([AssemblyManualUnlockByUserID] IS NULL AND [AssemblyManualUnlockUtc] IS NULL OR [AssemblyManualUnlockByUserID] IS NOT NULL AND [AssemblyManualUnlockUtc] IS NOT NULL))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_AssemblyUnlock_Pair]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_PostWarehouse_User] CHECK  (([PostTestingWarehouseAt] IS NULL OR [PostTestingWarehouseByUserID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_PostWarehouse_User]
GO
ALTER TABLE [dbo].[Product]  WITH NOCHECK ADD  CONSTRAINT [CK_Product_PostWarehouseRequiresQc] CHECK  (([PostTestingWarehouseAt] IS NULL OR [QualityControlPassed]=(1)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_PostWarehouseRequiresQc]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_QcPassed_Audit] CHECK  (([QualityControlPassed]=(0) OR [QualityControlPassedUtc] IS NOT NULL AND [QualityControlByUserID] IS NOT NULL))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_QcPassed_Audit]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_Product_TestingUnlock_Pair] CHECK  (([TestingManualUnlockByUserID] IS NULL AND [TestingManualUnlockUtc] IS NULL OR [TestingManualUnlockByUserID] IS NOT NULL AND [TestingManualUnlockUtc] IS NOT NULL))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_Product_TestingUnlock_Pair]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [CK_ProductPhoto_Stage] CHECK  (([Stage]=(2) OR [Stage]=(1)))
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [CK_ProductPhoto_Stage]
GO
ALTER TABLE [dbo].[ProductPhoto]  WITH CHECK ADD  CONSTRAINT [CK_ProductPhoto_StageLink] CHECK  (([Stage]=(1) AND [TMAID] IS NOT NULL AND [TMTID] IS NULL OR [Stage]=(2) AND [TMTID] IS NOT NULL AND [TMAID] IS NULL))
GO
ALTER TABLE [dbo].[ProductPhoto] CHECK CONSTRAINT [CK_ProductPhoto_StageLink]
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting]  WITH CHECK ADD  CONSTRAINT [CK_ShipmentWithoutTesting_Reason] CHECK  ((len(ltrim(rtrim([Reason])))>=(3)))
GO
ALTER TABLE [dbo].[ShipmentWithoutTesting] CHECK CONSTRAINT [CK_ShipmentWithoutTesting_Reason]
GO
ALTER TABLE [dbo].[TechnicalMapAssembly]  WITH CHECK ADD  CONSTRAINT [CK_TMA_TimeOrder] CHECK  (([TimeEnd]>=[TimeStart]))
GO
ALTER TABLE [dbo].[TechnicalMapAssembly] CHECK CONSTRAINT [CK_TMA_TimeOrder]
GO
ALTER TABLE [dbo].[TechnicalMapTesting]  WITH CHECK ADD  CONSTRAINT [CK_TMT_TimeOrder] CHECK  (([TimeEnd]>=[TimeStart]))
GO
ALTER TABLE [dbo].[TechnicalMapTesting] CHECK CONSTRAINT [CK_TMT_TimeOrder]
GO
USE [master]
GO
